body, ion-content {
  margin: 0;
  padding: 0;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */
  font-family: Arial, sans-serif;
  --background: rgb(250, 249, 247); /* Aplica o fundo a todo o body */
}
ion-item{
  --background: rgb(250, 249, 247); /* Aplica o fundo a todo o body */

}

ion-toolbar {
  --background: orange;
  height: 45px;
}
ion-title{
  margin-bottom: 13px;
  color: #000;

}

ion-buttons{
  margin-bottom: 13px;
}
ion-button{
  --background: orange;
color: #000;
}

    .boton {

      display: flex;
      justify-content: center;
      align-items: center;
      --background: rgba(255, 164, 0);
    }
