<ion-header >
  <ion-toolbar>
    <ion-title slot="start">Cadastro de Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()" >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<form #f="ngForm" (ngSubmit)= "enviando(f)">
  <p class="deslocado" >Produto</p>
  <ion-item>
    <ion-input [(ngModel)] ="dados.produto" name="produto"></ion-input>
  </ion-item>
  <p class="deslocado" >Estoque</p>
  <ion-item>
  <ion-input [(ngModel)] ="dados.estoque" name="estoque"></ion-input>
  </ion-item>
  <p class="deslocado" >Local</p>
  <ion-item>
    <ion-input [(ngModel)] ="dados.local" name="local"></ion-input>
  </ion-item>
  <p class="deslocado" >Codigo</p>
  <ion-item>
    <ion-input [(ngModel)] ="dados.codigo" name="Codigo"></ion-input>
  </ion-item>


</form>
</ion-content>
<ion-button   expand="block" type="submit">Cadastrar</ion-button>
