body, ion-content {
  margin: 0;
  padding: 0;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */
  font-family: Arial, sans-serif;
}

ion-toolbar {
  --background: orange;
  height: 45px;
}
ion-title{
  margin-bottom: 13px;
  color: #000;

}

ion-buttons{
  margin-bottom: 13px;
}
ion-button{
  --background: orange;
color: white;
}

