<ion-header>
  <ion-toolbar>
    <ion-title slot="start"> Ativos </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let c of maquina" class="ion-card">
      <ion-card-header id="cardHeader">
        <ion-card-title class="card-titulo">{{c.nome}}</ion-card-title>
        <ion-card-subtitle class="card-subtitulo">{{c.manual}}</ion-card-subtitle>
      </ion-card-header>
      <p>Classificação: {{c.classificacao}}</p>
      <ion-buttons class="csd-button"  >
        <ion-button fill="clear" color="warning" (click)="atualizar(c)">Atualizar</ion-button>
        <ion-button  fill="clear" color="warning" color="danger" (click)="remover(c.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      <ion-button  fill="clear" color="warning" (click)="openListPeca(c.id)">Peças</ion-button>
    </ion-buttons>
    </ion-card>
    <ion-button expand="block" (click)="abrirModal()">Novo Ativo</ion-button>
</ion-content>
