ion-toolbar {
  --background: orange;
  height: 45px;
}
ion-title{
  margin-bottom: 13px;
  color: #000;

}

ion-buttons {
  margin-bottom: 13px;
}
ion-button {
  --background: orange;
  margin: 5px;
}

.div-input-firt {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 15px;
  --background: rgba(49, 49, 48, 0.4) !important;
  color: rgb(252, 251, 251);
  text-align: center;
  font-size: 20px;
}

ion-content {
  padding: 0 15px;
}

.deslocado {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

ion-item {
  --padding-start: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

ion-select, ion-input {
  --padding-start: 15px;
  text-align: left;
}

