<ion-header >
  <ion-toolbar>
    <ion-title slot="start">Ordem de Serviço</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()" >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="mensagemForm" (ngSubmit)="gerarRelatorio()">
      <!-- Escolha da Máquina -->
      <div *ngIf="firtchec">
        <ion-list *ngFor="let m of maquinas">
            <ion-button expand="block" (click)="firtchecOUT(m.id, m.nome)"> {{ m.nome }} </ion-button>
        </ion-list>
      </div>

      <!-- Formulário -->
      <div *ngIf="!firtchec">
        <div class="deslocado">
          <p>Número da Ordem</p>
          <ion-input label="Número da O.S" type="text"
            formControlName="numeroOrdem" required readonly></ion-input>
        </div>
        <br>

        <div class="deslocado">
          <ion-input [value]="selectedMachineName" readonly></ion-input>
        </div>
        <br>

        <div class="deslocado">
          <p>Tempo de Execução</p>
          <ion-item>
            <ion-select formControlName="periodicidade" interface="popover">
              <ion-select-option value="01 dias">IMEDIATAMENTE</ion-select-option>
              <ion-select-option value="15 dias">URGENTE</ion-select-option>
              <ion-select-option value="30 dias">NOS PRÓXIMOS 30 dias</ion-select-option>
              <ion-select-option value="03 meses">ATÉ 3 meses</ion-select-option>
              <ion-select-option value="06 meses">SEM GRAVIDADE 6 meses</ion-select-option>
              <ion-select-option value="01 ano">QUANDO FOR POSSÍVEL 1 ano</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <br>

        <div class="deslocado">
          <p>Local da Anomalia</p>
          <ion-item>
            <ion-select formControlName="localInstalacao" interface="popover">
              <ion-select-option value="Acionamento">Acionamento</ion-select-option>
              <ion-select-option value="Estrutura">Estrutura</ion-select-option>
              <ion-select-option value="Instrumentação">Instrumentação</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <br>

        <div class="deslocado">
          <p>Tipo de Manutenção</p>
          <ion-item>
            <ion-select formControlName="tipo" interface="popover" (ngModelChange)="onTipoChange($event)">
              <ion-select-option value="Elétrica">Elétrica</ion-select-option>
              <ion-select-option value="Mecânica">Mecânica</ion-select-option>
              <ion-select-option value="Eletroeletrônica">Eletroeletrônica</ion-select-option>
              <ion-select-option value="Pneumática">Pneumática</ion-select-option>
              <ion-select-option value="Hidráulica">Hidráulica</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <br>

        <div class="deslocado">
          <p>Tipo de Anomalia</p>
          <ion-item>
            <ion-select formControlName="modoFalha" [multiple]="true">
              <ion-select-option *ngFor="let option of modoFalhaOptions" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <br>

        <div class="deslocado">
          <p>Nome das Peças</p>
          <ion-item>
            <ion-select formControlName="selectedArvorepeca" (ionChange)="onArvorepecaChange($event)">
              <ion-select-option *ngFor="let arvorepeca of arvorepecas" [value]="arvorepeca.nome">
                {{ arvorepeca.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <br>

        <div class="deslocado">
          <p>Informações Adicionais</p>
          <ion-input label="Instrução" label-placement="floating" placeholder="Digite a instrução" formControlName="instrucao" required></ion-input>
        </div>
        <br>

        <div class="deslocado">
          <p>Foto</p>
          <ion-input label="Foto" placeholder="link da foto" type="text" formControlName="foto"></ion-input>
        </div>
<br>
        <ion-button type="submit" expand="block" >Criar O.S</ion-button>
      </div>
    </form>
  </div>
</ion-content>
