.minha-cor {
  --background: orange;
}
.segment {
  color: rgb(0, 0, 0);
}
ion-footer {
  box-shadow: 0px 0px 0px px rgba(255, 165, 0, 0.4);
  border-color: rgba(255, 165, 0, 0.4);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.div-input-firt {
  border: 1px solid #000;
  border-radius: 5px; /* Arredonda os cantos do botão */
  margin: 15px;
  --background: rgba(49, 49, 48, 0.4) !important;
  color: rgb(252, 251, 251);
  text-align: center;
  text-shadow:  4px rgba(10, 10, 10); /* Adiciona uma sombra ao texto */
  font-size: 20px; /* Aumenta o tamanho do texto */
  margin-top: 5px;
  margin-bottom: 5px;
}
