ion-toolbar {
  --background: orange;
  height: 45px;
}
ion-title{
  margin-bottom: 13px;
  color: #000;

}

ion-buttons{
  margin-bottom: 13px;
}
ion-button{
  --background: orange;
color: #000;
}

.minha-cor {
  --background: orange;
}
.segment {
  color: rgb(0, 0, 0);
}

ion-segment {
  margin-top: 0;
  padding-top: 0;
}
ion-content{
  height: 100%;
  display: flex;

ion-list{
  margin-left: 10px;
}
}
.div-input-firt {
  border: 1px solid #000;
  border-radius: 5px; /* Arredonda os cantos do botão */
  margin: 15px;
  background: rgba(49, 49, 48, 0.4) !important;
  color: rgb(252, 251, 251);
  text-align: center;
  text-shadow:  4px rgba(10, 10, 10); /* Adiciona uma sombra ao texto */
  font-size: 20px; /* Aumenta o tamanho do texto */
  margin-top: 5px;
  margin-bottom: 5px;
}
