ion-toolbar {
  --background: orange;
  height: 45px;
}
ion-title {
  margin-bottom: 13px;
  color: #000;

}
ion-buttons {
  margin-bottom: 13px;
}
.div-input-firt {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 15px;
  background: rgba(49, 49, 48, 0.4) !important;
  color: rgb(252, 251, 251);
  text-align: center;
  font-size: 20px;
}
.deslocado {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
ion-item {
  --padding-start: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}
ion-radio-group.centralizado {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botao-direita {
  display: flex;
  justify-content: flex-end;
}
ion-button {
  --background: orange;
}

/* Estilo adicional para dispositivos pequenos */
@media screen and (max-width: 600px) {
  .div-input-firt {
    font-size: 18px;
  }
}
