<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Peças das Máquinas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showForm">
  <ion-list *ngFor="let c of maquina">
    <ion-button expand="block" class="div-input-firt" (click)="toggleForm(c.id, c.nome)"> {{c.nome}} </ion-button>
  </ion-list>
</ion-content>

<ion-content *ngIf="!showForm">
  <form [formGroup]="form" (ngSubmit)="enviando()">
    <div class="deslocado">
      <p>Máquina</p>
      <ion-item>
        <ion-input formControlName="maquina" readonly></ion-input>
      </ion-item>
    </div>

    <br>

    <div class="deslocado">
      <p>Local de Instalação</p>
      <ion-item>
        <ion-radio-group formControlName="localInstalacao" class="centralizado">
          <ion-item>
            <ion-radio class="botao-direita" value="Acionamento" aria-label="Acionamento"></ion-radio>Acionamento
          </ion-item>
          <ion-item>
            <ion-radio class="botao-direita" value="Estrutura" aria-label="Estrutura"></ion-radio>Estrutura
          </ion-item>
          <ion-item>
            <ion-radio class="botao-direita" value="Instrumentação" aria-label="Instrumentação"></ion-radio>Instrumentação
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </div>

    <br>

    <div class="deslocado">
      <p>Tipo</p>
      <ion-item>
        <ion-select formControlName="tipo">
          <ion-select-option value="Elétrica">Elétrica</ion-select-option>
          <ion-select-option value="Mecânica">Mecânica</ion-select-option>
          <ion-select-option value="Eletroeletrônica">Eletroeletrônica</ion-select-option>
          <ion-select-option value="Pneumática">Pneumática</ion-select-option>
          <ion-select-option value="Hidráulica">Hidráulica</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <br>

    <div class="deslocado">
      <p>Nome</p>
      <ion-item>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
    </div>

    <div class="deslocado">
      <p>Numeração</p>
      <ion-item>
        <ion-input formControlName="arvore" readonly></ion-input>
      </ion-item>
    </div>

    <div class="deslocado">
      <p>Código Fabricante</p>
      <ion-item>
        <ion-input formControlName="codigoFabricante"></ion-input>
      </ion-item>
    </div>

    <div class="deslocado">
      <p>Dimensões</p>
      <ion-item>
        <ion-input formControlName="dimensoes"></ion-input>
      </ion-item>
    </div>

    <br>

    <div class="deslocado">
      <p>Modo de Inspeção</p>
      <ion-item>
        <ion-radio-group formControlName="inspecao" class="centralizado">
          <ion-item>
            <ion-radio class="botao-direita" value="Sensitiva" aria-label="Sensitiva"></ion-radio>Sensitiva
          </ion-item>
          <ion-item>
            <ion-radio class="botao-direita" value="Temperatura" aria-label="Temperatura"></ion-radio>Temperatura
          </ion-item>
          <ion-item>
            <ion-radio class="botao-direita" value="Vibração" aria-label="Vibração"></ion-radio>Vibração
          </ion-item>
          <ion-item>
            <ion-radio class="botao-direita" value="Espessura" aria-label="Espessura"></ion-radio>Espessura
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </div>

    <br>

    <ion-button color="warning" fill="outline" expand="block" type="submit">Cadastrar</ion-button>
  </form>
</ion-content>
