ion-toolbar {
  --background: orange;
  height: 45px;
}

ion-title {
  margin-bottom: 13px;
  color: #000;
}

ion-buttons {
  margin-bottom: 13px;
}

ion-button {
  --background: orange;
  margin: 5px;
}

ion-content {
  padding: 0 15px;
}

.deslocado {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

ion-item {
  --padding-start: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

ion-select, ion-input, ion-textarea {
  --padding-start: 15px;
  text-align: left;
}
ion-radio::part(container) {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1.5px solid orange;
  display: flex;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: orange;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
}

ion-radio-group.centralizado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ion-radio-group.centralizado ion-radio:not(:last-child) {
  margin-right: 30px;
}
