<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Cadastro Preventiva</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="mensagemForm" (ngSubmit)="onCreate()">
      <!-- Nome da Preventiva -->
      <div class="deslocado">
        <p>Nome da Preventiva</p>
        <ion-input label="Nome da Preventiva" type="text" formControlName="nomePreventiva" required></ion-input>
      </div>
      <br>

      <!-- Nome da Máquina -->
      <div class="deslocado">
        <p>Nome da Máquina</p>
        <ion-list *ngFor="let maq of maquinas">
          <ion-item>{{ maq.nome }}</ion-item>
        </ion-list>
      </div>
      <br>

      <!-- Passo -->
      <div class="deslocado">
        <p>Passo</p>
        <ion-input label="Passo" type="text" formControlName="passo" required readonly></ion-input>
      </div>
      <br>

      <!-- Status do Serviço -->
      <div class="deslocado">
        <p>Status do Serviço</p>
        <ion-radio-group formControlName="status">
          <ion-item>
            <ion-radio value="agendado">Agendado</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio value="em progresso">Em Progresso</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio value="concluído">Concluído</ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <br>

      <!-- Agendamento -->
      <div class="deslocado">
        <p>Agende a Preventiva</p>
        <ion-item>
          <ion-datetime display-format="DD/MM/YYYY" formControlName="dataInicial"></ion-datetime>
        </ion-item>
      </div>
      <br>

      <!-- Periodicidade -->
      <div class="deslocado">
        <p>Periodicidade</p>
        <ion-item>
          <ion-select formControlName="periodicidade"  interface="popover">
            <ion-select-option value="30 dias">30 dias</ion-select-option>
            <ion-select-option value="03 meses">3 meses</ion-select-option>
            <ion-select-option value="06 meses">6 meses</ion-select-option>
            <ion-select-option value="01 ano">1 ano</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <br>

      <!-- Local de Instalação -->
      <div class="deslocado">
        <p>Local da Instalação</p>
        <ion-item>
          <ion-select formControlName="localInstalacao" interface="popover">
            <ion-select-option value="Acionamento">Acionamento</ion-select-option>
            <ion-select-option value="Estrutura">Estrutura</ion-select-option>
            <ion-select-option value="Instrumentação">Instrumentação</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <br>

      <!-- Tipo de Preventiva -->
      <div class="deslocado">
        <p>Tipo de Preventiva</p>
        <ion-item>
          <ion-select formControlName="tipo" interface="popover" (ngModelChange)="onTipoChange($event)">
            <ion-select-option value="Elétrica">Elétrica</ion-select-option>
            <ion-select-option value="Mecânica">Mecânica</ion-select-option>
            <ion-select-option value="Eletroeletrônica">Eletroeletrônica</ion-select-option>
            <ion-select-option value="Pneumática">Pneumática</ion-select-option>
            <ion-select-option value="Hidráulica">Hidráulica</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <br>

      <!-- Modo de Falha -->
      <div class="deslocado">
        <p>Modo de Falha</p>
        <ion-item>
          <ion-select formControlName="modoFalha" [multiple]="true">
            <ion-select-option *ngFor="let option of modoFalhaOptions" [value]="option">{{ option }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <br>

      <!-- Nome das Peças -->
      <div class="deslocado">
        <p>Nome das Peças</p>
        <ion-item>
          <ion-select formControlName="selectedArvorepeca" (ionChange)="onArvorepecaChange($event)">
            <ion-select-option *ngFor="let arvorepeca of arvorepecas" [value]="arvorepeca.nome">{{ arvorepeca.nome }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <br>

      <!-- Procedimento Operacional -->
      <div class="deslocado">
        <p>Procedimento Operacional</p>
        <ion-item>
          <ion-textarea formControlName="instrucao" required placeholder="Digite a instrução"></ion-textarea>
        </ion-item>
      </div>
      <br>

      <!-- Foto -->
      <div class="deslocado">
        <p>Foto</p>
        <ion-item>
          <ion-input formControlName="foto" placeholder="Link da foto"></ion-input>
        </ion-item>
      </div>
      <br>

      <ion-button type="submit" expand="block">Criar Preventiva</ion-button>
    </form>
  </div>
</ion-content>
