<ion-header >
  <ion-toolbar>
    <ion-title slot="start">Cadastro de Maquinas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()" >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)= "enviando(f)">
    <p class="deslocado">Nome</p>
    <ion-item>
    <ion-input  [(ngModel)] = "dados.nome" name="nome"></ion-input>
  </ion-item>
  <p class="deslocado">Manual</p>
    <ion-item>
      <ion-input  [(ngModel)] ="dados.manual" name="manual"></ion-input>
    </ion-item>
      <p class="deslocado">Classificação</p>
      <ion-radio-group [(ngModel)]="dados.classificacao" name="classificacao" class="centralizado">
        <ion-radio value="A">A</ion-radio>
        <ion-radio value="B">B</ion-radio>
        <ion-radio value="C">C</ion-radio>
      </ion-radio-group>
      <ion-button class="submit" expand="block" type="submit">Cadastrar</ion-button>
  </form>
</ion-content>

