<ion-header >
  <ion-toolbar>
    <ion-title slot="start">Escolha Ativo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()" >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card class="ion-card" *ngFor="let maquinaItem of maquina; let i = index">
    <ion-card-header>
      <ion-card-title class="card-titulo">{{ maquinaItem.nome }}</ion-card-title>
      <ion-card-subtitle class="card-subtitulo">{{ maquinaItem.classificacao }}</ion-card-subtitle>
    </ion-card-header>
    <ion-buttons class="card-botoes">
      <ion-button fill="clear" color="warning" (click)="creatnewprevet(maquinaItem)">Criar Preventiva</ion-button>
      <ion-button>

      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-card>
  <ng-template #noMaquinas>
    <p>Nenhuma máquina disponível.</p>
  </ng-template>


</ion-content>
