/* ========== GLOBAL STYLES ========== */
body, ion-content {
  margin: 0;
  padding: 0;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */
  font-family: Arial, sans-serif;
  background: radial-gradient(rgba(255, 165, 0), rgba(49, 49, 48)); /* Aplica o fundo a todo o body */
}


/* ========== HEADER ========== */
#app-header, ion-toolbar.transparent-header {
  --background: radial-gradient(rgba(255, 165, 0), rgba(49, 49, 48)) !important;
  color: rgb(250, 244, 244);
  box-shadow: 0px 6px 0px 0px rgba(255, 165, 0, 0.4);
  border-color: rgba(255, 165, 0, 0.4);
  #search-button01{
    background-color: rgba(255, 165, 0, 0.4);

  }
}

#menu-button ion-icon,  ion-icon {
  font-size: 1.5rem;
  color: white;
}


/* ========== FAB BUTTONS ========== */
ion-fab-button {
  --background: rgba(255, 165, 0, 0.4);
  --background-activated: #87d361;
  --background-hover: #a3e681;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: rgb(250, 244, 244);
}


/* ========== BUTTONS ========== */
ion-segment-button {
  --background: rgba(49, 49, 48, 0.4) !important;
  color: rgb(250, 244, 244);
  font-size: 20px;
  border-radius: 5px;
  width: 100%; /* Ocupa toda a largura disponível no contêiner */
  min-width: 300px; /* Define a largura mínima do botão */
  margin-bottom: 10px;
  display: block;
}

/* ========== FULLSCREEN IMAGE ========== */
#fullscreen-image {
  background: radial-gradient(rgba(255, 165, 0), rgba(49, 49, 48));
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

/* ========== CARDS ========== */
#fullscreen-card {
  background: url('https://live.staticflickr.com/65535/53683733944_3ff2eba62d_w.jpg') no-repeat center center fixed;
  border-radius: 15px;
  max-height: 300px;
  height: 300px;
  width: 300px ;
  min-width: 300px;
  overflow-y: auto;
}

/* Scrollbar hiding */
#fullscreen-card::-webkit-scrollbar, #fullscreen-card-grey::-webkit-scrollbar {
  display: none;
}

#fullscreen-card, #fullscreen-card-grey {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Card titles and subtitles */
.card-titulo {
  justify-content: center;
  font-size: 2rem;
  color: #000000;
}

.card-subtitulo {
  font-size: 1.5rem;
  color: #181717;
}

/* ========== LIST STYLES ========== */
#ion-list {
  background-color: rgba(49, 49, 48, 0.4);
  font-size: 25px;
  border-radius: 5px;
  text-shadow: 4px rgba(10, 10, 10);
}

/* ========== RESPONSIVE DESIGN ========== */

/* --------- Large screens (e.g. desktops) --------- */
@media screen and (min-width: 1024px) {
  body, ion-content {
    height: 100%; /* Garante que a altura cubra toda a tela */
  }

  #fullscreen-card {
    margin: 0 auto;
  }

  ion-footer.transparent-footer {
    background: radial-gradient(rgba(255, 165, 0), rgba(49, 49, 48));
    height: 70px;
  }

  ion-fab-button {
    margin: 0.5rem;
  }
}

/* --------- Small screens (e.g. phones) --------- */
@media screen and (max-width: 600px) {
  body, ion-content {
    height: auto; /* Permite que o conteúdo se ajuste ao tamanho da tela */
  }

  #fullscreen-card {
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
    overflow-y: auto;
  }

  #fullscreen-image {
    overflow-y: auto;
    flex-direction: column-reverse;
    min-height: 76vh;

  }

  ion-footer.transparent-footer {
    background: radial-gradient(rgba(255, 165, 0), rgba(49, 49, 48));
    height: 110%;
  }

  ion-fab-button {
    margin: 0.3rem;

  }
}
