<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Almoxarife</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pesquisar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fecharModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let c of cliente">
      <ion-col>
        <p>{{c.produto}}</p>
      </ion-col>
      <ion-col>
        <p>{{c.estoque}}</p>
      </ion-col>
      <ion-col>
        <p>{{c.local}}</p>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

